body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: azure;
}

a {
  color: #00B7FF;
}

pre {
  font-size: 36px;
}

details {
  display: block;
  position: fixed;
  bottom: 0;
  right: 5%;
  transition: 3s ease;
}

details[open]{
  animation-name: fadein;
  animation-duration: 1s;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

iframe {
  width: 396px;
  height: 486px;
}

summary {
  font-size: 36px;
  cursor: pointer;
}
